# Sonar
*.dat
user/**
!user/__init__.py
*.log
build/
tmp*

# Environment
.vscode/
*.code-workspace

# Xilinx
vivado*.jou
.Xil/

# Python
*.pyc
*.egg-info/
.coverage

# Prerequisites
*.d

# Object files
*.o

# Executables
*.out
*.app
